<% provide :title, 'Contact' %>
<%= content_for :head do %>
  <style>body{background-image:url('https://res.cloudinary.com/henrygd/image/upload/v1463624630/pattern_waves.png')}.flex-container{height:100%;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:#e8e5c9}.flex-container form input,.paper textarea{color:#fff;display:block;width:100%;max-width:100%;border-radius:2px;outline:0;background:#636669;border:none;font-size:1.1em;margin:5px 0;padding:.7em .7em .5em 2em}.paper textarea{height:40vh;padding:.7em;line-height:1.3;}.flex-container #error_explanation{color:#da1010;width:100%;padding:0;background-color:transparent;font-size:1.2em}.flex-container .alert-danger,.flex-container .alert-notice,.flex-container .alert-success{padding:.7em .5em;border-radius:2px}.flex-container h3{font-size:1em}.paper{margin-top:55px;background-color:#e8e5c9;width:96%;max-width:40em;border-radius:2px;box-shadow:rgba(0,0,0,.2) 0 0 1.5em;padding:1.8em 1.8em 1em}.flex-container .btn-purp{padding:.7em .2em .6em}.inner-addon{position:relative}.inner-addon .fa{position:absolute;pointer-events:none;padding:.7em .5em;color:#D8CBAF}.left-addon .fa{left:2px}.flex-container h2{color:#48473E;text-align:center;margin:0 0 .5em;font-weight:400;text-transform:uppercase;font-family:'Roboto'}</style>
<% end %>
<container class="flex-container">
    <div class="paper">
      <h2>Contact</h2>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert-#{message_type}") %>
      <% end %>
      <% unless @mail_sent %>
        <%= form_for(:contact_form) do |f| %>
          <% if @errors %>
            <div id="error_explanation">
              <h3>The form contains <%= pluralize(@errors.count, "error") %></h3>
              <ul>
                <% @errors.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="inner-addon left-addon">
            <i class="fa fa-user"></i>
            <%= f.text_field :name, placeholder: 'Name', value: (@args ? @args[:name] : "") %>
            <i class="fa fa-envelope"></i>
            <%= f.email_field :email, placeholder: 'Email', value: (@args ? @args[:email] : "") %>
            <%= f.text_area :message, placeholder: 'Message', value: (@args ? @args[:message] : "") %>
            <%= f.submit "Send", class: 'btn-purp' %>
          </div>
        <% end %>
      <% end %>
    </div>
</container>

<% content_for :script do %>
  $('#new_user').on('click', 'input', function() {
    $(this).removeClass('input-error');
  });
<% end %>